# --- Python Bytecode e Cache ---
# Ignora le cartelle __pycache__ ovunque si trovino nel progetto
__pycache__/
*.py[cod]
*$py.class

# --- Ambienti Virtuali ---
# Ignora la cartella del virtual environment
.venv/
venv/
env/

# --- Distribuzione e Metadati ---
# Ignora i metadati generati da setuptools/pip
*.egg-info/
.eggs/

# --- File e Cartelle Specifici del Progetto ---
crac_cloud/astroplan/
crac_cloud/static/maps/fixed_field_map.png
crac_cloud/static/maps/tracking_chart.png
crac_cloud/static/maps/tracking_error.png
crac_cloud/.env
crac_cloud/templates/old_index.html

# --- File Scaricati e Archivi ---
# Ignora l'archivio grpcurl e futuri file .tar.gz
*.tar.gz

# --- File di Sistema (Opzionale ma consigliato) ---
.DS_Store
Thumbs.db